<!DOCTYPE html>
<html>
<head>
	<title>hello</title>
</head>
<body>
	<form>
		  <a style="margin-left:43%;margin-right:57%;display:block;margin-top:17%;margin-bottom:1%"><div class="form-group">
		    <label for="exampleInputUsername"></label>
		    <input type="firstname" class="form-control" id="exampleInputfirstname" aria-describedby="firstnameHelp" placeholder="First name">
		  </div>
		  </a>
		  <a style="margin-left:43%;margin-right:57%;display:block;margin-top:0%;margin-bottom:1%"><div class="form-group">
		    <label for="exampleInputUsername"></label>
		    <input type="lastname" class="form-control" id="exampleInputlastname" aria-describedby="lastnameHelp" placeholder="Last name">
		  </div>
		  </a>		
		  <a style="margin-left:43%;margin-right:57%;display:block;margin-top:0%;margin-bottom:1%"><div class="form-group">
		    <label for="exampleInputUsername"></label>
		    <input type="username" class="form-control" id="exampleInputusername" aria-describedby="usernameHelp" placeholder="Username">
		  </div>
		  </a>
		  <a style="margin-left:43%;margin-right:57%;display:block;margin-top:0%;margin-bottom:1%"><div class="form-group">
		    <label for="exampleInputEmail1"></label>
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		  </div>
		  </a>
		  <a style="margin-left:43%;margin-right:57%;display:block;margin-top:0%;margin-bottom:1%"><div class="form-group">
		    <label for="exampleInputPassword1"></label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  </a>
		<a href="profile" style="margin-left:50%;margin-right:47%;margin-bottom:50%"><button type="submit" class="btn btn-primary">Submit</button></a>
	</form>
</form>
</body>
</html>